;This is configuration file for XueTr("XT" for short).
;This file works since v0.31.
;The name of this file should be in accordance with that of XT which you may have renamed otherwise.
;For example, if XT is named KillVirusTool.exe, you must rename the config file as KillVirusTool.config.
;Written by linxer, Dec 12,2009.

;This field allows you to disable XT's self-protection.
;By default,the value is 3(0x01 | 0x02 ---> ssdt | shadow ssdt).If it is set to 0,self-protection is disabled.
SelfProtection = 0

;This field determines whether the window of XT is topmost or not.
;Zero means the window is non-topmost, elsewise it is set to be topmost.
StayOnTop = 0

;This field is used to determine the method for enumerating files.
;Zero means XT enumerates files by kernel driver only.In other cases, XT will use strengthened "disk analysis" method.
OpenPhysicalDiskAnalysis = 1

;This field determines if XT will check injected thread on startup.
;By Default,it is enabled.You can turn it off by setting the value to zero. 
CheckInjectThread = 1

;This field allows you to determine whether XT will scan suspicious object(e.g. pe image and driver object) or not when it enums kernel modules.
;By default,it is enabled.In other cases,it will be disabled to reduce the rate of false positives.
ScanSuspiciousObject = 1

;Check MBR at XT start
;By Default,it is enabled.You can turn it off by setting the value to zero. 
;CheckMBR = 1

;This field determines the title name of the mainly window.
TitleName = XueTr 0.39

;Internet Explorer
AddRegPath = HKEY_CLASSES_ROOT\CLSID\{871C5380-42A0-1069-A2EA-08002B30309D}\shell\OpenHomePage\Command
;My Computer
AddRegPath = HKEY_CLASSES_ROOT\CLSID\{20D04FE0-3AEA-1069-A2D8-08002B30309D}\shell\OpenHomePage\Command
;Recycle Bin
AddRegPath = HKEY_CLASSES_ROOT\CLSID\{645FF040-5081-101B-9F08-00AA002F954E}\shell\OpenHomePage\Command
;My Network Places
AddRegPath = HKEY_CLASSES_ROOT\CLSID\{208D2C60-3AEA-1069-A2D7-08002B30309D}\shell\OpenHomePage\Command
;My Documents
AddRegPath = HKEY_CLASSES_ROOT\CLSID\{450D8FBA-AD25-11D0-98A8-0800361B1103}\shell\OpenHomePage\Command
;
AddRegPath = HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft
;
AddRegPath = HKEY_CURRENT_USER\Software\Policies\Microsoft\Windows\System\Scripts
;
AddRegPath = HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Windows\System\Scripts